body {
    font-family: "IBM Plex Sans", "Times New Roman", serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 20px;
}

#content {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

a:link {color: blue; text-decoration: none }
a:hover {background:#eeeeee; color:black}
a:visited { color: blue; text-decoration: none }

p.paragraph {
    text-align: justify;
    text-justify: inter-word;
}

p.text-section {
    margin-left: 40px;
}

p.email {
    margin-left: 40px;
    font-size: 90%;
}

p.copyright {
    text-align: center;
    font-size: 80%;
    margin-top: 100px;
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
    margin-top: 0;
    padding-left: 40px;
}

.nav-links {
    margin-left: 40px;
}
