/* Whiter, Simpler Early Internet Palette */
body {
  background-color: #f0f0f0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: none;
  font-smooth: never;
  text-rendering: optimizeSpeed;
  color: #000000;
  margin: 40px auto;
  max-width: 800px;
  text-align: center;
}

header {
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 5px;
  color: #000000;
}

.quote {
  font-style: italic;
  font-size: 0.9em;
  color: #444;
}

nav {
  margin: 15px 0;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: #0000FF;
}

nav a:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  border-top: 1px solid #808080;
  margin: 20px 0;
}

#content {
  text-align: left
}

h2, h3 {
  color: #000000;
  text-decoration: underline;
}

ul {
  list-style-type: square;
  display: inline-block;
  text-align: left;
  margin: 10px auto;
  padding-left: 20px;
}

#linking {
  margin: 20px 0;
}

footer {
  font-size: 0.8em;
  margin-top: 40px;
}
